@use "./partials/variables" as var;

.gallery {
  width: 40vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
  gap: 40px;
  z-index: 1;
  //border: 1px solid hotpink;
  margin: 50px;
  &__item {
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
    visibility: hidden;
    display: none;
    width: 200px;
    height: 200px;

    &:hover {
      transform: scale(1.1);
    }
    &--active {
      visibility: visible;
      display: inline;
      width: 200px;
      height: 200px;
    }
  }
}
.arrows-group {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 10px;
  #galleryLArr {
    width: fit-content;
    border: 5px solid black;
    border-radius: 3000px;
  }
  #galleryRArr {
    width: fit-content;
    border: 5px solid black;
    border-radius: 3000px;
  }
}
