@use "./partials/variables" as var;

.gallery {
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
  justify-content: center;

  &__item {
    border: 3px solid black;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
    visibility: hidden;
    display: none;
    margin: 20px;
    &:hover {
      transform: scale(1.05);
    }
    &--active {
      visibility: visible;
      display: inline;
      width: 75%;
      height: 90%;
      object-fit: cover;
    }
  }
}
.arrows-group {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 10px;
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  #galleryLArr {
    width: fit-content;
    border: 5px solid black;
    border-radius: 3000px;
  }
  #galleryRArr {
    width: fit-content;
    border: 5px solid black;
    border-radius: 3000px;
  }
}
