@use "./partials/variables" as var;

.menu-bar {
  color: beige;
  display: flex;
  justify-content: space-between;
  background-color: var.$windows-blue;
  width: 100%;
  //border: 1px solid red;
  div {
    display: flex;
    align-self: flex-end;
    p {
      font-weight: bold;
      width: 20px;
      aspect-ratio: 1;
      color: black;
    }
  }
  .title {
    padding: 4px;
    font-weight: bold;
  }
}
