@use "./taskbar-style.scss";
@use "./start-menu-style.scss";
@use "./gallery-style.scss";
@use "./menu-bar-style.scss";
@use "./game-style.scss";
@use "./forex-style.scss";
@use "./partials/variables" as var;

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  font-family: sans-serif;
}

.wallpaper {
  width: 100vw;
  height: 100vh;
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  //user-select: none;
}

.icons-display {
  display: flex;
  justify-items: space-around;
  flex-direction: column;
  z-index: -1;
  position: fixed;
}

.desktop-icon {
  width: 60px;
  margin: 20px;
  img {
    height: 60px;
    width: 60px;
  }
  p {
    font-size: 12px;
    text-wrap: wrap;
    font-weight: bold;
    text-align: center;
  }
  &:hover {
    background-color: rgba(211, 211, 211, 0.3);
  }
}

.modal {
  width: fit-content;
  height: fit-content;
  background-color: rgb(40, 40, 40);
  align-self: center;
  margin: 20px;
  position: absolute;
  top: 20%;
  left: 20%;
  border: 5px solid black;
  border-radius: 10px;
  z-index: 0;
  &--gallery {
    width: 50vw;
    height: 70vh;
  }
  &--game {
    text-align: center;
    height: 400px;
    width: 300px;
  }
  &--forex {
    text-align: center;
    height: 300px;
    width: 650px;
  }
  &--maximized {
    width: calc(100vw - 15px);
    height: calc(100vh - 50px);
    left: 0;
    top: 0;
    margin: 0;
  }
  .click-btn {
    background-color: var.$windows-blue;
    color: beige;
    font-weight: bold;
    border-radius: 8px;
    border: 5px solid black;
    text-align: center;
    font-size: 20px;
    padding: 5px 50px 5px 50px;
    text-align: center;
    width: fit-content;
    margin: 2px;
    align-self: center;
    &:hover {
      color: red;
    }
  }
}
html {
  user-select: none;
}

#iconTray {
  text-align: left;
  align-self: center;
  position: fixed;
  left: 80px;

  p {
    border: 2px solid grey;
    padding: 3px;
    height: 20px;
    display: inline;
    margin: 2px;
    background-color: darkgray;
  }
}
