@use "./normalize.scss";
@use "./taskbar-style.scss";
@use "./start-menu-style.scss";
@use "./gallery-style.scss";
@use "./menu-bar-style.scss";
@use "./game-style.scss";
@use "./forex-style.scss";
@use "./partials/variables" as var;
@use "./partials/mixins" as mi;

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  font-family: sans-serif;
}

.wallpaper {
  width: 100vw;
  height: 100vh;
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  //user-select: none;
}

.icons-display {
  display: flex;
  justify-items: space-around;
  flex-direction: column;
  z-index: -1;
  position: fixed;
}

.desktop-icon {
  width: 60px;
  margin: 20px;
  img {
    height: 60px;
    width: 60px;
  }
  p {
    font-size: 12px;
    text-wrap: wrap;
    font-weight: bold;
    text-align: center;
  }
  &:hover {
    background-color: rgba(211, 211, 211, 0.3);
  }
}

.modal {
  background-color: var.$windows-gray;

  align-self: center;
  margin: 20px;
  position: absolute;
  //border: 5px solid black;
  border: 2px solid rgb(150, 150, 150);
  //border-radius: 10px;
  z-index: 0;

  &--gallery {
    width: 50vw;
    height: 70vh;
    top: calc(15vh - 50px);
    left: 25vw;
  }
  &--game {
    text-align: center;
    height: 400px;
    width: 300px;
    top: calc(50vh - 250px);
    left: 30vw;
    & > button {
      margin-left: calc(50% - 50px);
    }
  }
  &--forex {
    text-align: center;
    height: 270px;
    width: 650px;
    top: calc(50vh - 270px);
    left: 30vw;
  }
  &--maximized {
    width: calc(100vw - 5px);
    height: calc(100vh - 40px);
    left: 0;
    top: 0;
    margin: 0;
  }
}
html {
  user-select: none;
}

#iconTray {
  text-align: left;
  align-self: center;
  position: fixed;
  left: 80px;

  p {
    padding: 3px;
    height: 20px;
    display: inline;
    margin: 2px;
  }
}

.btn {
  font-weight: bold;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  background-color: var.$windows-gray;
  @include mi.dbl-colored-border(white, grey);
  width: fit-content;
  &:active {
    @include mi.dbl-colored-border(grey, white);
  }
  img {
    height: 30px;
    width: 30px;
  }
  p {
    display: inline;
    margin: 1px;
  }
  &:hover {
    border-right-color: rgb(80, 80, 80);
    border-bottom-color: rgb(80, 80, 80);
  }

  // border: 1px solid red;
}
